body {
    background-color: rgb(27, 23, 27);
    height:100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    width: 90%;
    height: 10%;
    gap: 20px;
    background-color: rgb(243, 7, 7, .92);
    border: 2px dashed rgb(154, 250, 184);
    border-radius: 5px;
    border-width: 0.20em;
    color: rgb(154, 247, 5);
}

.mess {
    display: flex;
}

.mess-end{
    margin-left: 1%;
    font-size: 22px;
    display: flex;
    text-align: right;
    background-color: rgba(255, 247, 0, 0.4);
    border-radius: 30px;
    color: rgb(10, 247, 204);
    font-family: 'Monoton', cursive;
    transform: rotate(10deg);
}   

.subtext {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;

}


#button-one, #button-two {
    font-family: 'Rubik Microbe', cursive;
    width: 12%;
    height: 40px;
    border-radius: 5px;
    border: 2px dashed rgb(110, 244, 153);
    background-color:rgb(218, 221, 181);
}

.section-two {
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: space-evenly;
}

.message {
    margin-top: 2%;
    transform: rotate(-10deg);
    align-self: flex-end;
    color: rgb(239, 249, 170);
    font-size: 22px;
    
}

.gameboard-outer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.names {
    font-family: 'Dancing Script', cursive;
    text-decoration: overline;
    font-size: 15px;
    color: rgb(239, 249, 170);
    display: flex;
    justify-content: space-around;
    gap: 200px;
}
.gameboard-inner {
    padding: 10px;
    display: flex;
    flex-direction: space-evenly;
    /* gap: 20px; */
    width: 98%;
    height: 10%;
    background-color: rgb(33, 118, 33);
    border: 2px solid rgb(154, 250, 184, .3);
    border-radius: 15px;
}

.player-stack, .dealer-stack {
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 10px;
}

.card-pile{
    margin-top: 1.5%;
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    font-family: 'Rubik Microbe', cursive;
    align-items: center;
    width: 160px;
    height: 100px;
    border-radius: 5px;
    background-color:rgb(108, 153, 244);
    border: 2px solid rgb(154, 250, 184);
    color:rgb(107, 248, 79);
    
    text-align: center;
}

.cards-in-play{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color:rgb(6, 138, 2);
    border: 3px solid black;
}

.card-style {
    padding: 8px;
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    width: 300px;
    height: 500px;
    border-radius: 5px;
    background-color: rgba(250, 216, 27, 0.9);
    border: 3px solid black;
}

.game-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 2.5%;
    margin-top: .8%;
}

.front {
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    justify-items: space-between;
    border: 2px solid rgb(154, 250, 184, .8);
    width: 100px;
    height: 140px;
    border-radius: 5px;
    background-color:rgb(160, 160, 160, .7);
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}

#score_0, #score_1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(254, 246, 198);
    border: 3px solid rgb(154, 250, 184, .5);
    margin-bottom: 5%;
    width: 25%;
    height: 18%;;
    font-family: 'Monoton', cursive;
    font-size: 50px;
    font-weight: bolder;
    color:rgb(69, 44, 234)
    
}

#hit, #stay{
    color: rgb(1, 73, 216);
    font-family: 'Rubik Microbe', cursive;
    width: 10%;
    height: 40px;
    border-radius: 8px;
    border: 2px solid rgb(154, 250, 184);
    background-color:rgb(181, 218, 221)
}

